<div *ngIf="message"
     class="mb-6 text-white text-lg font-semibold px-6 py-4 rounded-xl"
     [ngClass]="{
       'bg-red-600': messageType === 'error',
       'bg-green-600': messageType === 'success'
     }">
  {{ message }}
</div>



<h1 class="text-2xl font-semibold mb-2">SKU Verification</h1>
<p class="text-gray-500 mb-6">
  Verify incoming SKU items against their ASN records.
</p>

<div class="max-w-md mx-auto bg-white rounded-2xl shadow-md p-6">

  <h2 class="text-lg font-semibold mb-1">Verify SKU</h2>
  <p class="text-gray-500 text-sm mb-4">
    Enter details to verify against ASN records
  </p>

  <form [formGroup]="verifyForm"
        (ngSubmit)="onVerify()"
        class="space-y-4">

    <input formControlName="shipmentNumber"
           placeholder="ASN / Shipment Number"
           class="w-full border rounded-lg px-3 py-2 focus:ring-2 focus:ring-blue-500" />

    <input formControlName="skuId"
           placeholder="SKU ID"
           class="w-full border rounded-lg px-3 py-2" />

    <div class="grid grid-cols-2 gap-3">
      <input formControlName="mrp"
             placeholder="MRP"
             class="border rounded-lg px-3 py-2" />

      <input formControlName="batchNumber"
             placeholder="Batch Number"
             class="border rounded-lg px-3 py-2" />
    </div>

    <input type="date"
           formControlName="expiry"
           class="w-full border rounded-lg px-3 py-2" />

    <button
      class="w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700">
      Verify SKU
    </button>

  </form>

</div>
